Repository azumag/cc-gc-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-tests, shell-security-check

shell-tests:
  name: Run shell script tests
  entry: ./test/run_tests.sh
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - commit

shell-security-check:
  name: Shell security check
  entry: bash
  language: script
  args:
  - -c
  ...

feat: Add comprehensive testing and CI infrastructure
  .github/workflows/ci.yml
  README.md
  hook-handler.sh
  test/test_hook_handler.bats
Due: shell-tests, shell-security-check

fix: Resolve rate limit detection and CI failures
  .github/workflows/ci.yml
  hook-handler.sh
Due: shell-tests, shell-security-check

Update README.md
  README.md
Due: none

refactor: Rename cc-gen-review to cc-gc-review throughout project
  README.md
  cc-gc-review.sh
  hook-handler.sh
  test.sh
  test/README.md
  test/test_cc_gc_review.bats
  test/test_hook_handler.bats
  zenn.md
Due: shell-tests, shell-security-check

feat: Add test mode support and improve review count handling
  CLAUDE.md
  cc-gc-review.sh
  test/test.sh
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests, shell-security-check

fix: Continue monitoring after review limit reached instead of exiting
  cc-gc-review.sh
Due: shell-tests, shell-security-check

fix: Properly continue monitoring after review limit reached
  cc-gc-review.sh
Due: shell-tests, shell-security-check

fix: Resolve CI failures - ShellCheck warnings and test setup
  cc-gc-review.sh
  test/install_bats.sh
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests, shell-security-check

fix: Update CI workflows to use correct script name cc-gc-review.sh
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix: Apply shell script formatting fixes for CI compliance
  cc-gc-review.sh
Due: shell-tests, shell-security-check

fix: Handle background execution in prompt_for_continuation
  cc-gc-review.sh
Due: shell-tests, shell-security-check

fix: Prevent script exit when review limit reached due to set -e
  cc-gc-review.sh
Due: shell-tests, shell-security-check

feat: Auto-reset review count on new file updates
  cc-gc-review.sh
Due: shell-tests, shell-security-check

feat: Implement comprehensive security and test improvements
  CLAUDE.md
  cc-gc-review.sh
  hook-handler.sh
  test/run_tests.sh
  test/test_cc_gc_review.bats
  test/test_hook_handler.bats
  test/test_review_count.bats
  test/test_watch_reset.bats
  todo.md
Due: shell-tests, shell-security-check

docs: Update README with security improvements and new features
  README.md
Due: none

fix: Resolve shellcheck warning for unused event variable
  cc-gc-review.sh
Due: shell-tests, shell-security-check

fix: Refactor variable declarations for improved readability in hook-handler.sh and test cases
  hook-handler.sh
  test/test_hook_handler.bats
Due: shell-tests, shell-security-check

Refactor hook-handler.sh for improved readability and consistency
  cc-gc-review.sh
  hook-handler.sh
Due: shell-tests, shell-security-check

fix: Improve code formatting and consistency in cc-gc-review.sh
  cc-gc-review.sh
Due: shell-tests, shell-security-check

fix: Improve code formatting and consistency in hook-handler.sh
  hook-handler.sh
Due: shell-tests, shell-security-check

fix: Improve code formatting and consistency in run_tests.sh
  test/run_tests.sh
Due: shell-tests, shell-security-check

fix: Refactor SCRIPT_DIR export for consistency in test files
  test/test_cc_gc_review.bats
  test/test_hook_handler.bats
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests

fix: Improve output matching by removing leading spaces in test assertions
  test/test_hook_handler.bats
  test/test_watch_reset.bats
Due: shell-tests

fix: Update output matching to include quotes for consistency in test assertions
  test/test_hook_handler.bats
  test/test_watch_reset.bats
Due: shell-tests

fix: Resolve remaining shellcheck errors in test files
  test/test_hook_handler.bats
  test/test_watch_reset.bats
Due: shell-tests

fix: Update output matching in tests for consistency by removing leading spaces
  test/test_hook_handler.bats
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests

fix: Update review limit assertions and cleanup test setup for consistency
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests

fix: Remove leading spaces in output matching for review limit assertions
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests

fix: Refactor variable declarations for clarity in installation script
  test/install_bats.sh
Due: shell-tests, shell-security-check

fix: Update output matching in tests for review limit messages to improve consistency
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests

fix: Enhance CI environment support and improve tmux session handling in tests
  test/run_tests.sh
  test/setup_test.sh
  test/test.sh
  test/test_review_count.bats
Due: shell-tests, shell-security-check

fix: Clean up whitespace in CI environment setup for consistency
  test/run_tests.sh
Due: shell-tests, shell-security-check

fix: Add step to initialize git submodules in test workflow
  .github/workflows/test.yml
Due: none

fix: Remove submodule initialization step from compatibility tests
  .github/workflows/test.yml
Due: none

fix: Add timeout package to system dependencies and remove unnecessary test steps
  .github/workflows/test.yml
Due: none

fix: Set BATS_LIB_PATH for helper libraries in CI environment setup
  test/run_tests.sh
Due: shell-tests, shell-security-check

fix: Update BATS_LIB_PATH initialization to handle unset variable
  test/run_tests.sh
Due: shell-tests, shell-security-check

fix: Ensure bats-core installation is run with sudo on non-Ubuntu environments
  .github/workflows/test.yml
Due: none

Path conditions:
  shell-tests: any of: \.(sh|bash|bats)$, but not: ^test-tmp-.*$
  shell-security-check: any of: \.(sh|bash)$, but not: ^test-tmp-.*$
