Repository azumag/cc-gc-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-tests, shell-security-check

shell-tests:
  name: Run shell script tests
  entry: ./test/run_tests.sh
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - commit

shell-security-check:
  name: Shell security check
  entry: bash
  language: script
  args:
  - -c
  ...

refactor: Extract duplicate stat logic and document JSON output strategy
  hooks/ci-monitor-hook.sh
  hooks/gemini-review-hook.sh
  hooks/shared-utils.sh
Due: shell-tests, shell-security-check

fix: Add comprehensive error handling and proper testing
  hooks/ci-monitor-hook.sh
  hooks/gemini-review-hook.sh
  hooks/self-review.sh
  hooks/shared-utils.sh
  test/test_ci_monitor_hook.bats
Due: shell-tests, shell-security-check

refactor: Eliminate DRY violations and simplify error handling
  hooks/ci-monitor-hook.sh
  hooks/gemini-review-hook.sh
  hooks/shared-utils.sh
Due: shell-tests, shell-security-check

refactor: Apply true KISS principle with streamlined while-read approach
  hooks/gemini-review-hook.sh
  hooks/shared-utils.sh
  test/test_find_latest_transcript_error_handling.bats
Due: shell-tests, shell-security-check

fix: Add context line to review criteria in gemini-review-hook.sh
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Improve stat command error handling for cross-platform compatibility
  hooks/shared-utils.sh
Due: shell-tests, shell-security-check

fix: Improve stat output validation and error messaging
  hooks/shared-utils.sh
Due: shell-tests, shell-security-check

test: Add comprehensive edge case tests for stat command error handling
  test/test_find_latest_transcript_error_handling.bats
Due: shell-tests

feat: Enhance error handling granularity and diagnostic messages
  hooks/shared-utils.sh
  test/test_find_latest_transcript_error_handling.bats
Due: shell-tests, shell-security-check

fix: Improve temp file handling robustness for CI environments
  hooks/shared-utils.sh
Due: shell-tests, shell-security-check

refactor: Simplify error handling and eliminate DRY violations
  hooks/shared-utils.sh
  test/test_find_latest_transcript_error_handling.bats
Due: shell-tests, shell-security-check

fix: Add missing newline at end of test file
  test/test_find_latest_transcript_error_handling.bats
Due: shell-tests

fix: Cross-platform stat command compatibility in ci-monitor-hook.sh and test expectations
  debug_platform.sh
  hooks/ci-monitor-hook.sh
  test/test_ci_monitor_hook.bats
Due: shell-tests, shell-security-check

fix: Remove debug script that was accidentally committed
  debug_platform.sh
Due: shell-tests, shell-security-check

fix: Improve gh CLI not found test by mocking command -v behavior
  test/test_ci_monitor_hook.bats
Due: shell-tests

fix: Improve performance benchmarking test with proper transcript and gemini mock
  .github/workflows/rigorous-validation.yml
Due: none

fix: Use safe temporary directory for gemini mock instead of system path
  .github/workflows/rigorous-validation.yml
Due: none

fix: Add condition for handling review completion in approval scenarios
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

Path conditions:
  shell-tests: any of: \.(sh|bash|bats)$, but not: ^test-tmp-.*$
  shell-security-check: any of: \.(sh|bash)$, but not: ^test-tmp-.*$
