Repository azumag/cc-gc-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-tests, shell-security-check

shell-tests:
  name: Run shell script tests
  entry: ./test/run_tests.sh
  language: script
  pass_filenames: false
  always_run: false
  stages:
  - commit

shell-security-check:
  name: Shell security check
  entry: bash
  language: script
  args:
  - -c
  ...

fix: Update BATS_LIB_PATH to use relative paths for helper libraries
  test/run_tests.sh
Due: shell-tests, shell-security-check

fix: Update BATS_LIB_PATH to include only bats-helper directory
  test/run_tests.sh
Due: shell-tests, shell-security-check

fix: Remove unnecessary 'timeout' package from system dependencies installation
  .github/workflows/test.yml
Due: none

fix: Update BATS_LIB_PATH to include bats-support and bats-assert directories
  test/run_tests.sh
Due: shell-tests, shell-security-check

fix: 明示的にBatsヘルパーライブラリをソースするように変更
  test/run_tests.sh
Due: shell-tests, shell-security-check

fix: BATS_LIB_PATHを更新し、ヘルパーライブラリの相対パスを使用するように変更
  test/run_tests.sh
Due: shell-tests, shell-security-check

fix: Batsヘルパーライブラリのソースパスを修正し、srcディレクトリを使用するように変更
  test/run_tests.sh
Due: shell-tests, shell-security-check

fix: Batsヘルパーライブラリのソースパスを修正し、相対パスから直接読み込むように変更
  test/run_tests.sh
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests, shell-security-check

fix: CI設定とBatsヘルパーライブラリのパス問題を修正
  .github/workflows/ci.yml
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests

fix: CI.yml の VERSION 変数参照とヒアドキュメント構文を修正
  .github/workflows/ci.yml
Due: none

fix: CI環境でのBatsヘルパーライブラリの読み込みパスと特殊文字テストのJSON構文を修正
  gemini-review-hook.sh
  test/test_hook_handler.bats
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests, shell-security-check

fix: レビューのプロンプトを変数に格納し、理由の出力形式を修正
  gemini-review-hook.sh
Due: shell-tests, shell-security-check

save
  gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: gemini-review-hook.shの一時ファイル管理とレビュー要約の抽出機能を改善
  README.md
  blog.md
  gemini-review-hook.sh
  test/test_gemini_review_hook.bats
  zenn.md
Due: shell-tests, shell-security-check

fix: gemini-review-hook.shのデバッグログ機能を追加し、一時ファイルのクリーンアップを強化 fix: hook-handler.shでgeminiコマンドのオプションを引用符で囲む fix: run_tests.shでbatsコマンドのオプションを引用符で囲む
  gemini-review-hook.sh
  hook-handler.sh
  test/run_tests.sh
Due: shell-tests, shell-security-check

docs: README.mdのクイックスタートセクションを更新し、gemini-review-hook.shの設定方法を明確化
  README.md
Due: none

fix: Add .gitmodules file to resolve CI submodule initialization issues
  .gitmodules
Due: none

fix: Add submodules initialization to CI workflows
  .github/workflows/ci.yml
Due: none

fix: Add submodules initialization to test.yml workflow
  .github/workflows/test.yml
Due: none

fix: Add Bats helper library load statements to all test files
  test/test_cc_gc_review.bats
  test/test_gemini_review_hook.bats
  test/test_hook_handler.bats
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests

fix: Exclude submodule test files from ShellCheck in CI workflows
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix: Update SCRIPT_DIR setting in test_cc_gc_review.bats to use BATS_TEST_FILENAME
  test/test_cc_gc_review.bats
Due: shell-tests

fix: Remove duplicate 'with' clause in ci.yml lint job
  .github/workflows/ci.yml
Due: none

fix: Exclude test helper directories from security check in CI
  .github/workflows/ci.yml
Due: none

fix: CI セキュリティチェックの誤検出問題を解決し、テスト14の特殊文字処理を修正
  .github/workflows/ci.yml
  gemini-review-hook.sh
  test/test_hook_handler.bats
Due: shell-tests, shell-security-check

fix: Replace bash brace expansion with seq command for better shell compatibility
  test/test_gemini_review_hook.bats
Due: shell-tests

fix: Resolve bats-gather-tests CI failure with comprehensive test infrastructure improvements
  .github/workflows/ci.yml
  test/run_tests.sh
  test/test_cc_gc_review.bats
  test/test_gemini_review_hook.bats
  test/test_helper.bash
  test/test_hook_handler.bats
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests, shell-security-check

fix: YAML formatting error in ci.yml - add missing notify-discord job and fix indentation
  .github/workflows/ci.yml
Due: none

refactor: Improve Discord notification maintainability and error handling
  .github/workflows/ci.yml
  scripts/send_discord_notification.sh
Due: shell-tests, shell-security-check

refactor: Enhance Discord notification script robustness and maintainability
  .github/workflows/ci.yml
  scripts/send_discord_notification.sh
Due: shell-tests, shell-security-check

Clean up CI workflow files to remove deprecated script references
  .github/workflows/ci.yml
  .github/workflows/test.yml
  README.md
  deprecated/README-legacy.md
  deprecated/plan.md
  deprecated/todo.md
  gemini-review-hook.sh
  test/README.md
  test/install_bats.sh
  test/run_tests.sh
  test/test.sh
  test/test_cc_gc_review.bats
  test/test_hook_handler.bats
  test/test_review_count.bats
  test/test_watch_reset.bats
Due: shell-tests, shell-security-check

refactor: Simplify and streamline testing infrastructure after deprecation cleanup
  .github/workflows/ci.yml
  test/setup_test.sh
  test/test_gemini_review_hook.bats
Due: shell-tests, shell-security-check

docs: Update README for clarity in quick start instructions
  README.md
Due: none

refactor: Clean up formatting and improve readability in gemini-review-hook.sh
  gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Discord notification script JSON generation error
  scripts/send_discord_notification.sh
Due: shell-tests, shell-security-check

fix: Discord notification script newline handling and error resolution
  scripts/send_discord_notification.sh
Due: shell-tests, shell-security-check

refactor: Discord notification script to follow DRY principle and best practices
  scripts/send_discord_notification.sh
Due: shell-tests, shell-security-check

fix: Proper error handling and code encapsulation in Discord notification script
  scripts/send_discord_notification.sh
Due: shell-tests, shell-security-check

fix: Remove redundant echo -e conversion in Discord notification script
  scripts/send_discord_notification.sh
Due: shell-tests, shell-security-check

fix: Improve CI integration tests and add dynamic decision logic to review hook
  .github/workflows/ci.yml
  .gitignore
  gemini-review-hook.sh
  notification.sh
  push-review-complete.sh
Due: shell-tests, shell-security-check

Path conditions:
  shell-tests: any of: \.(sh|bash|bats)$, but not: ^test-tmp-.*$
  shell-security-check: any of: \.(sh|bash)$, but not: ^test-tmp-.*$
