Repository azumag/cc-gc-review: changes, and which pre-commit hooks are due for each by the changed paths.
All: shell-tests, shell-security-check

.pre-commit-config.yaml:

repos:
  # Shell script linting with ShellCheck
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: [-S, warning]
        files: \.(sh|bash)$
        exclude: ^test-tmp-.*$

  # Shell script formatting with shfmt
  - repo: https://github.com/pre-commit/mirrors-shfmt
    rev: v3.8.0
    hooks:
      - id: shfmt
        args: [-w, -s, -i, '4']
        files: \.(sh|bash)$
        exclude: ^test-tmp-.*$

  # Bats test files linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        name: shellcheck-bats
        args: [-S, warning]
        files: \.bats$
        exclude: ^test-tmp-.*$

  # Run shell script tests before commit
  - repo: local
    hooks:
      - id: shell-tests
        name: Run shell script tests
        entry: ./test/run_tests.sh
        language: script
        pass_filenames: false
        always_run: false
        files: \.(sh|bash|bats)$
        exclude: ^test-tmp-.*$
        stages: [commit]

  # Check for common security issues
  - repo: local
    hooks:
      - id: shell-security-check
        name: Shell security check
        entry: bash
        language: script
        args:
          - -c
          - |
            echo "Checking for potential security issues in shell scripts..."
            if grep -r "eval\|rm -rf /\|chmod 777" --include="*.sh" --include="*.bash" .; then
              echo "WARNING: Potential security issues found!"
              echo "Please review the above matches carefully."
              exit 1
            fi
            echo "No obvious security issues found."
        pass_filenames: false
        files: \.(sh|bash)$
        exclude: ^test-tmp-.*$

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^test-tmp-.*$
      - id: end-of-file-fixer
        exclude: ^test-tmp-.*$
      - id: check-yaml
        exclude: ^test-tmp-.*$
      - id: check-json
        exclude: ^test-tmp-.*$
      - id: check-added-large-files
        exclude: ^test-tmp-.*$
      - id: check-executables-have-shebangs
        exclude: ^test-tmp-.*$
      - id: check-shebang-scripts-are-executable
        exclude: ^test-tmp-.*$

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--fix]
        exclude: ^test-tmp-.*$

  # Git hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
        exclude: ^test-tmp-.*$
      - id: no-commit-to-branch
        args: [--branch, main, --branch, master]
        exclude: ^test-tmp-.*$

# Additional configuration
default_stages: [commit, push]
fail_fast: false
minimum_pre_commit_version: '2.20.0'

improve: Address additional code review feedback for gemini-review-hook.sh
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

improve: Address strict Gemini review feedback with comprehensive fixes
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Remove invalid local keyword usage outside function scope
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Resolve ShellCheck errors and warnings
  hooks/gemini-review-hook.sh
  hooks/notification.sh
Due: shell-tests, shell-security-check

fix: Correct script paths in test.yml workflow
  .github/workflows/test.yml
Due: none

fix: Correct JSON schema validation and add comprehensive script validation
  hooks/gemini-review-hook.sh
  scripts/validate-scripts.sh
  test/test_gemini_hook_integration.bats
Due: shell-tests, shell-security-check

fix: Include git context in review prompt for proper Gemini feedback
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

chore: Clean up debug files and improve gitignore
  .gitignore
Due: none

feat: Add comprehensive hook validation infrastructure
  scripts/validate-test-environment.sh
  test/run_hook_validation.sh
Due: shell-tests, shell-security-check

fix: Correct Discord notification JSON payload formatting
  hooks/notification.sh
Due: shell-tests, shell-security-check

feat: Implement rigorous testing standards addressing fundamental inadequacies
  .github/workflows/rigorous-validation.yml
  docs/RIGOROUS_IMPROVEMENT_PLAN.md
  test/comprehensive_validation.sh
Due: shell-tests, shell-security-check

fix: Implement performance optimizations and quality validation
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Emergency fix for gemini hook timeout (status 124)
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

Revert "fix: Emergency fix for gemini hook timeout (status 124)"
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Increase GEMINI_TIMEOUT to 120 seconds and remove command checks
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Use consistent timeout for Flash model fallback
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

docs: Add detailed explanation for timeout changes and command check removal
  docs/timeout-changes-explanation.md
Due: none

test: Add comprehensive tests for timeout handling changes
  test/test-timeout-handling.sh
Due: shell-tests, shell-security-check

refactor: Improve test robustness and documentation quality per review feedback
  docs/timeout-changes-explanation.md
  test/test-timeout-handling.sh
Due: shell-tests, shell-security-check

fix: Increase GEMINI_TIMEOUT to 300 seconds and update review prompt instructions
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Resolve syntax errors in comprehensive validation script
  test/comprehensive_validation.sh
Due: shell-tests, shell-security-check

fix: Improve test quality and reliability based on Gemini review feedback
  test/comprehensive_validation.sh
Due: shell-tests, shell-security-check

Update gemini review hook configuration
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Remove timeout package from CI dependencies - already included in coreutils
  .github/workflows/rigorous-validation.yml
Due: none

fix: Generate proper JSON output for early exit conditions in gemini-review-hook
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Update review principle for handling rate limits in gemini-review-hook
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

refactor: Update hook principles and disable REVIEW_RATE_LIMITED early exit
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Restore proper JSON output for early exit conditions
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Standardize BATS helper library installation across all CI workflows
  .github/scripts/setup-bats.sh
  .github/workflows/ci.yml
  .github/workflows/rigorous-validation.yml
  .github/workflows/test.yml
Due: shell-tests, shell-security-check

fix: Update test expectations to match current hook behavior
  test/test_gemini_hook_integration.bats
Due: shell-tests

fix: Enhance BATS setup for macOS compatibility and improve test scripts for Bash version handling
  .github/scripts/setup-bats.sh
  .github/workflows/test.yml
  hooks/gemini-review-hook.sh
  test/run_tests.sh
  test/test_bash_compatibility.sh
  test_hook.sh
Due: shell-tests, shell-security-check

fix: Update REVIEW_RATE_LIMITED principle for clarity in gemini-review-hook
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check

fix: Update test output assertions to match actual script behavior
  test/run_tests.sh
  test/test_run_tests_script.bats
Due: shell-tests, shell-security-check

fix: Resolve path issues in all test files without modifying hook files
  test/test_gemini_content_only.sh
  test/test_notification_core.sh
  test/test_notification_title_live.bats
Due: shell-tests, shell-security-check

fix: Resolve sed command compatibility and script sourcing issues for CI
  test/test_notification_final.sh
  test/test_notification_integration.sh
  test/test_notification_title_live.bats
Due: shell-tests, shell-security-check

fix: Correct shebang in test_hook.sh (was using backslash instead of forward slash)
  test_hook.sh
Due: shell-tests, shell-security-check

fix: Adjust ShellCheck severity for hook files to allow CI to pass
  .github/workflows/test.yml
Due: none

fix: Make ShellCheck more lenient for test files to prevent CI blocking
  .github/workflows/test.yml
Due: none

fix: Make ShellCheck lenient for BATS files to prevent linting failures
  .github/workflows/test.yml
Due: none

refactor: Clarify REVIEW_RATE_LIMITED handling in principles
  hooks/gemini-review-hook.sh
Due: shell-tests, shell-security-check
